<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">

	<title>Hipstar - Blog Grid Large</title>
	
	<meta name="description" content="">
	<meta name="google-site-verification" content="">
	<meta name="author" content="Christopher McClellan">
	
	<link rel="shortcut icon" href="../_images/favicon.ico">
	
	<link rel="stylesheet" href="style.css">

	<script src="../_js/libs/modernizr-2.0.min.js"></script>
	<script src="../_js/libs/respond.min.js"></script>
	
</head>

<body class="light">

<!-- Left Column (Header) -->
	<header id="header">
		
	<!-- Logo -->
		<h1>
			<a href="index.html">
				<img src="images/logo.png" alt="logo" width="114" height="38">
			</a>
		</h1>
	<!-- /Logo -->
	
	<!-- Navigation -->
		<nav id="nav-primary">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="features.html">Features</a></li>
				<li><a href="portfolio_grid_large.html">Portfolio</a>
					<ul>
						<li><a href="portfolio_grid_small.html">Portfolio Small</a></li>
						<li><a href="portfolio_grid_medium.html">Portfolio Medium</a></li>
						<li><a href="portfolio_grid_large.html">Portfolio Large</a></li>
						<li><a href="portfolio_basic.html">Basic Portfolio</a></li>
					</ul>
				</li>
				<li class="current"><a href="blog_grid_large.html">Blog</a>
					<ul>
						<li><a href="blog_classic_1.html">Blog Classic v1</a></li>
						<li><a href="blog_classic_2.html">Blog Classic v2</a></li>
						<li><a href="blog_single.html">Blog Single</a></li>
						<li><a href="blog_grid_small.html">Grid Blog Small</a></li>
						<li><a href="blog_grid_medium.html">Grid Blog Medium</a></li>
						<li><a href="blog_grid_large.html">Grid Blog Large</a></li>
					</ul>
				</li>
				<li><a href="page_styles.html">Pages</a>
					<ul>
						<li><a href="page_404.html">404 Error</a></li>
						<li><a href="page_contact.html">Contact Us</a></li>
						<li><a href="page_about.html">About Us</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	<!-- /Navigation -->
	
	</header>
<!-- /Left Column (Header) -->

<!-- Right Column -->
	<div id="main" role="main">
	
	<!-- Call to action -->
		<header class="clearfix">
			<div id="call-to-action"><a href="#"><span>Available</span>Hire Me</a></div>
			<h2 id="tagline">Simple templates that tug at your<span class="heart"></span>strings</h2>
			<ul class="breadcrumbs">
				<li>You are here:</li>
				<li><a href="#">Home</a></li>
				<li><a href="blog_grid_large.html">Blog</a></li>
				<li>Grid Blog large</li>
			</ul>
		</header>
	<!-- /Call to action -->
	
		<div class="cl"></div>
	
	<!-- Content Area -->
		<div id="content-area" class="container grid grid-large clearfix">
		
			<article class="clearfix post format-image">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-1.jpg" width="360" height="257" alt="Summer Time Fun"></a>
					<div class="preview-large-hover">
						<a class="large-image" href="../_images/assets/entry-1-large.jpg"></a>
					</div>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">Summer Time Fun</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">13</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-audio">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-2.jpg" width="360" height="257" alt="Threaded Awesomeness"></a>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">Threaded Awesomeness</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">24</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-standard">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<header>
					<h3 class="post-title"><a href="blog_single.html">Lorem Ipsum Dolor</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">21</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-standard">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-3.jpg" width="360" height="257" alt="Leave'em Everywhere"></a>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">Leave'em Everywhere</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">0</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-video">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<iframe src="http://player.vimeo.com/video/24320443?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="360" height="257"></iframe>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">ANACONDA (HTML5 Embedded)</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">10</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-standard">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<header>
					<h3 class="post-title"><a href="blog_single.html">Lorem Ipsum Dolor</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">1</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-quote">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-4.jpg" width="360" height="257" alt="Through Someone Elses Eyes"></a>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">Through Someone Elses Eyes</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">31</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-gallery">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<div class="image-expand"></div>
				<figure class="cycle">
					<a href="#"><img src="../_images/assets/entry-4-col-5-a.jpg" width="360" height="257" alt="Bottle Caps Branded"></a>
					<a href="#"><img src="../_images/assets/entry-4-col-5-b.jpg" width="360" height="257" alt="Bottle Caps Branded"></a>
					<a href="#"><img src="../_images/assets/entry-4-col-5-c.jpg" width="360" height="257" alt="Bottle Caps Branded"></a>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">Bottle Caps Branded</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">46</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-audio">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-6.jpg" width="360" height="257" alt="Wear It With Pride"></a>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">Wear It With Pride</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">33</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-standard">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<header>
					<h3 class="post-title"><a href="blog_single.html">Lorem Ipsum Dolor</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">99</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-standard">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-7.jpg" width="360" height="257" alt="Off The Wall"></a>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">Off The Wall</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">91</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-gallery">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure class="cycle">
					<a href="#"><img src="../_images/assets/entry-4-col-8-a.jpg" width="360" height="257" alt="entry-4-col-8"></a>
					<a href="#"><img src="../_images/assets/entry-4-col-8-b.jpg" width="360" height="257" alt="entry-4-col-8"></a>
					<a href="#"><img src="../_images/assets/entry-4-col-8-c.jpg" width="360" height="257" alt="entry-4-col-8"></a>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">Eye See You</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">76</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-image">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-9.jpg" width="360" height="257" alt="You Spin Me Round"></a>
					<div class="preview-large-hover">
						<a class="large-image" href="../_images/assets/entry-9-large.jpg"></a>
					</div>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">You Spin Me Round</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">32</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-standard">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<header>
					<h3 class="post-title"><a href="blog_single.html">Lorem Ipsum Dolor</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">73</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-video">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<iframe src="http://player.vimeo.com/video/26726530?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="360" height="257"></iframe>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">Jean-Francois (HTML5 Embedded)</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">85</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-standard">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-10.jpg" width="360" height="257" alt="You Spin Me Round"></a>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">You Spin Me Round</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">32</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-standard">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-11.jpg" width="360" height="257" alt="You Spin Me Round"></a>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">You Spin Me Round</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">32</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
			<article class="clearfix post format-image">
				<div class="format-ribbon"></div><!-- post format indication ribbon -->
				<figure>
					<a href="blog_single.html"><img src="../_images/assets/entry-4-col-12.jpg" width="360" height="257" alt="You Spin Me Round"></a>
					<div class="preview-large-hover">
						<a class="large-image" href="../_images/assets/entry-12-large.jpg"></a>
					</div>
				</figure>
				<header>
					<h3 class="post-title"><a href="blog_single.html">You Spin Me Round</a></h3>
				</header>
				<div class="entry">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh est, vulputate a iaculis vitae, porttitor eu tortor. Duis quis mauris a neque luctus tincidunt. Donec quis diam vel tortor tempor euismod id quis justo. Nunc nec neque vel ante interdum elementum. Duis laoreet eleifend arcu non viverra. Praesent imperdiet tortor lorem. Phasellus posuere imperdiet.</p>
				</div>
				<footer class="meta">
					<p>03.31.2011  |  <a class="comments" href="#">32</a>  |  Tags : <a href="#">HTML5</a>, <a href="#">CSS3</a>, <a href="#">jQuery</a>, <a href="#">Usability</a></p>
				</footer>
			</article>
			
		</div><!-- .container .grid -->
		<div class="cl"></div>
		
		<!-- Pagination -->
		<div class="pagination">
			<ul>
				<li><a href="#" class="prev">&lsaquo;</a></li>
				<li><a href="#" title="1" class="page">1</a></li>
				<li><span class="page current">2</span></li>
				<li><a href="#" title="3" class="page">3</a></li>
				<li><a href="#" title="4" class="page">4</a></li>
				<li><span class="gap">[...]</span></li>
				<li><a href="#" title="39" class="page">8</a></li>
				<li><a href="#" class="next">&rsaquo;</a></li>
			</ul>
		</div>
		<!-- /Pagination -->
		
	<!-- /Content Area -->
	</div>
<!-- /Right Column -->

<!-- Footer -->
	<footer id="footer">
		<div id="social">
			<a id="facebook" href="#" title="Facebook"></a>
			<a id="twitter" href="#" title="Twitter"></a>
			<a id="forrst" href="#" title="Forrst"></a>
			<a id="dribbble" href="#" title="Dribbble"></a>
		</div><!-- #social -->
		
		<div id="search">
			<form method="post" action="#">
				<input type="text" value="" placeholder="Search" name="s" id="query">
			</form>
		</div><!-- #search -->
		
		<div class="source-org vcard copyright">
			<p>&copy; 2011 Hipstar</p>
		</div><!-- .copyright -->
	</footer>
<!-- /Footer -->

<!-- Large image viewer -->
	<div id="img-preview-controls">
		<a class="" id="img-title" href="#"></a>
		<a id="img-view-post" href="#">View</a>
		<a id="img-close" href="#">Close</a>
	</div>
<!-- /Large image viewer -->

<div class="back-to-top"><a href="#">Up</a></div>

<!-- Javascript (in footer for a reason) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../_js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<script src="../_js/libs/jquery.hoverIntent.minified.js"></script>
<script src="../_js/libs/jquery.nivo.slider.pack.js"></script>
<script src="../_js/libs/jquery.animate-enhanced.js"></script>
<script src="../_js/libs/jquery.ez-bg-resize.js"></script>
<script src="../_js/libs/jquery.imagesloaded.js"></script>
<script src="../_js/libs/jquery.masonry.min.js"></script>
<script src="../_js/libs/jquery.cycle.all.js"></script>
<script src="../_js/libs/jquery.cookie.js"></script>
<script src="../_js/libs/jquery.color.js"></script>
<script src="../_js/script.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22981676-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Dont forget Google Tracking
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
-->

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
