{% extends "blog/base.html" %}
  
{% block content %} 
      {% for post in posts %}
          {% ifequal post.post_type 'photo' %}
              <article class="clearfix post format-image">
                <div class="format-ribbon"></div><!-- post format indication ribbon -->
                <figure>
                  <a href="/photos/{{ post.pk }}"><img src="/static/_images/assets/entry-4-col-1.jpg" width="360" height="257" alt="Summer Time Fun"></a>
                  <div class="preview-large-hover">
                    <a class="large-image" href="/static/_images/assets/entry-1-large.jpg"></a>
                  </div>
                </figure>
                <header>
                  <h3 class="post-title"><a href="/photos/{{ post.pk }}">{{ post.title|safe }}</a></h3>
                </header>
                <div class="entry">
                  <p>{{ post.summary|safe }}</p>
                </div>
                <footer class="meta">
                  <p>{{ post.pub_date|date:"m.d.Y" }} | Tags : {% for tag in post.tags.all %}<a href="/tag/{{ tag.slug }}">{{ tag.title }}</a> {% endfor %}</p>
                </footer>
              </article>
          {% endifequal %}

          {% ifequal post.post_type 'news' %}
              <article class="clearfix post format-standard">
                <div class="format-ribbon"></div><!-- post format indication ribbon -->
                <header>
                  <h3 class="post-title"><a href="/news/{{ post.pk }}">{{ post.title|safe }}</a></h3>
                </header>
                <div class="entry">
                  <p>{{ post.summary|safe }}</p>
                </div>
                <footer class="meta">
                  <p>{{ post.pub_date|date:"m.d.Y" }} | Tags : {% for tag in post.tags.all %}<a href="/tag/{{ tag.slug }}">{{ tag.title }}</a> {% endfor %}</p>
                </footer>
              </article>
          {% endifequal %}

          {% ifequal post.post_type 'video' %}
              <article class="clearfix post format-video">
                <div class="format-ribbon"></div><!-- post format indication ribbon -->
                <figure>
                  <iframe src="{{ post.video_url }}" width="360" height="257"></iframe>
                </figure>
                <header>
                  <h3 class="post-title"><a href="/videos/{{ post.pk }}">{{ post.title|safe }}</a></h3>
                </header>
                <div class="entry">
                  <p>{{ post.summary|safe }}</p>
                </div>
                <footer class="meta">
                  <p>{{ post.pub_date|date:"m.d.Y" }} | Tags : {% for tag in post.tags.all %}<a href="/tag/{{ tag.slug }}">{{ tag.title }}</a> {% endfor %}</p>
                </footer>
              </article>
          {% endifequal %}

          {% ifequal post.post_type 'quote' %}
              <article class="clearfix post format-quote">
                <div class="format-ribbon"></div><!-- post format indication ribbon -->
                <header>
                  <h3 class="post-title"><a href="/quotes/{{ post.pk }}">{{ post.title|safe }}</a></h3>
                </header>
                <div class="entry">
                  <p>{{ post.summary|safe }}</p>
                </div>
                <footer class="meta">
                  <p>{{ post.pub_date|date:"m.d.Y" }} | Tags: {% for tag in post.tags.all %}<a href="/tag/{{ tag.slug }}">{{ tag.title }}</a> {% endfor %}</p>
                </footer>
              </article>
          {% endifequal %}
    {% endfor %} 
    </div><!-- .grid -->
    <div class="cl"></div>
    
{% endblock %}
